<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="">
        <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name, label: "Please enter a name" %>
        <%= f.submit "Submit!", class: "btn btn-warning" %>
        <% end %>
      </form>
    </div>
  </div>
</div>


