<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1424591093900-514bab956faf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ed0101e6e7e48218b8318c0347730d5&auto=format&fit=crop&w=1500&q=80'); linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
 <!-- <img src="images/logo.png" alt="logo"> -->
  <div class="banner-content">
    <br>

    <br>
    <h1>Imbible</h1>
    <br>

    <br>
    <br>
    <a href="https://www.airbnb.com" class="btn-medium">Start Drinking</a>

  </div>
</div>

<div class="page">

  <p> <<< </p>

  <p> >>> </p>

</div>

<div class="card-description">
</div>
</div>
<div class="wrapper">

</div>


<h4><%= link_to "Add a New Drink", new_cocktail_path %></h4>

<img class="card-user" src=>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4 col-lg-3 wide-col">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card" id="c0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1998822d443cf97d75258149476c5aa5&auto=format&fit=crop&w=1498&q=80');">
        <%= cocktail.name %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>


<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fa fa-github"></i></a> -->
    <a href="https://www.airbnb.com"><i class="fa fa-instagram"></i></a>
    <a href="https://www.airbnb.com"><i class="fa fa-facebook"></i></a>
    <a href="https://www.airbnb.com"><i class="fa fa-twitter"></i></a>
    <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    <i class="fa fa-heart"></i>  This footer was made in 23 seconds on Wulumuqi <i class="fa fa-heart"></i>
  </div>
</div>
