<div class="banner" style="background-image: url(<%= image_path("Cocktails.jpg") %>); linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <div class="banner-content">
    <h1>Cocktail Digest</h1>
    <a href="#" class="btn-medium">Start Drinking</a>

  </div>
</div>

<div class="card-description">
</div>
<h2>You should probably have a drink</h2>
<img class="card-user" src=>
<a class="card-link" href="#" ></a>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    </div>
    <% end %>
  </div>

<!-- <a class="btn btn-primary btn-lg">Get inspired</a> -->

  <%= link_to "Add a New Drink", new_cocktail_path %>
