<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Cocktail Shaker</div>
      <div class="description">Hello there, Let's make a cocktail</div>
      <form>
        <input type="text" placeholder="Cocktail Name"/>
        <div class="text-center">
          <div class="button">Add cocktail</div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="text-center">
  <div class="rerun-button">ReRun</div>
</div>





