
<div class="banner" style="background-image: url(<%= image_path("Cocktails.jpg") %>); linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <div class="card-description">
    <h1> <%= @cocktail.name %></h1>
  </div>
  <a class="card-link" href="#" ></a>
</div>
