// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: 'Raleway', sans-serif;
  background:#eee;
  text-decoration: none;
}

// .body {
//   font-family: 'Open Sans', sans-serif;
//   text-align: center
// }



h1 {
  // font-family: 'Open Sans', sans-serif;
  line-height: 150px;
  font-family: 'Raleway', sans-serif;
  color: #2181F7;
  font-weight: 200;
  letter-spacing: 4px;
  // text-align: center
}

h2 {
  font-family: 'Raleway', sans-serif;
  line-height: 150px;
  color: #111;
  text-align: center
}



h4 {
  color: #111;
  text-align: center;
  padding-bottom: 25px;
  text-decoration: none;
  font-size: 24;
  font-family: 'Raleway', sans-serif;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  // position: absolute;
  // top: 30%;
  // left: 50%;
  letter-spacing: 2px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.btn-medium {
  color: #FFFFFF;
  line-height: 50px;
  border: 1px solid #111;
  padding: 10px 15px;
  border-radius: 50px;
  color: #111;
  // font-weight: lighter;
  // opacity: 1;
}
.btn-medium:hover {
  opacity: 1;
  color: #FFFFFF;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.card {
  height: 400px;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-decoration: none;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  padding: 25px;
  opacity: 0.7;
  margin-bottom: 25px;
  // margin-top: 1px;
  // margin-left: 1px;
  // margin-right: 1px;
  color: #FFFFFF;
  position: relative;
  transition: .3s all ease;
  transform: rotateX(5deg) scale(0.7);
  perspective: 100px;
  box-shadow: 0px 5px 5px #555;
  animation: entry 1s linear 1;
}

a {
  color: #1A1A1A;
  // text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #2181F7;
  text-decoration: none;
}


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 300;
}
.card-description p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;
  font-weight: lighter;
}

.wide-col {
  padding: 0px !important;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  color: #FFFFFF;
  background: black;
  text-decoration: none;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: rotate(0deg) scale(0.85) translateY(1px);
  transition: .3s all ease;
  z-index: 400;
}

.page {
  position: relative;
  margin-top: 25px;
  top: 155%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

.page p {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}


.page p:nth-child(1) {
  right: 35%;
  animation: simple1 1s linear infinite;
}

.page p:nth-child(2) {
  left: 35%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

.wrapper {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 300px;
  color: #FFFFFF;
  height: 500px;
  perspective: 900px;
}

// .container {
//   top: 0%;
//   width: 100%;
//   height: 100%;
//   transition: .5s all ease;
//   transform: rotateX(60deg) scale(0.7);
//   perspective: 900px;
//   box-shadow: 0px 20px 50px #555;
//   animation: entry 1s linear 1;
// }

#c0 {
  // position: absolute;
  // top: 0%;
  // width: 100%;
  // height: 100%;
  // background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 10px 50px #555;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-copyright {
  text-align: center;
  align-items: center;
  justify-content:center;
}

.footer-copyright:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: rotate(0deg) scale(1.1) translateY(1px);
  transition: .3s all ease;
  z-index: 400;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


/* Main navbar */
// .navbar-imbible {
//   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
//   background: white;
//   transition: all 0.3s ease;
//   height: 70px;
//   padding: 0px 30px;
//   text-align: right;
//   // display: flex;
//   align-items: center;
//   // justify-content: space-between;
// }
//
// /* Logo */
// .navbar-imbible-brand img {
//   height: 50px;
// }


// #c1 {
//   background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
//   box-shadow: 0px 20px 100px #555;
//   left: 100%;
//   z-index: 0;
// }
//
// #c2 {
//   left: -100%;
//   z-index: 0;
//   background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
//   box-shadow: 0px 20px 100px #555;
// }

// .container:hover {
//   cursor: pointer;
//   transform: rotate(0deg) scale(1) translateY(10px);
//   transition: .5s all ease;
//   z-index: 400;
// }
