@import url("https://fonts.googleapis.com/css?family=Raleway:200");
/* line 7, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
body {
  font-family: 'Raleway', sans-serif;
  background: #eee;
  text-decoration: none;
}

/* line 20, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
h1 {
  line-height: 150px;
  color: #2181F7;
  font-weight: 200;
  letter-spacing: 4px;
}

/* line 29, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 150px;
  color: #111;
  text-align: center;
}

/* line 38, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
h4 {
  color: #111;
  text-align: center;
  padding-bottom: 25px;
  text-decoration: none;
  font-size: 24;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 2px;
}

/* line 53, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

/* line 66, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

/* line 72, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 0.6;
  margin-bottom: 30px;
}

/* line 80, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.btn-medium {
  color: #FFFFFF;
  line-height: 50px;
  border: 1px solid #111;
  padding: 10px 15px;
  border-radius: 50px;
  color: #111;
}

/* line 90, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.btn-medium:hover {
  opacity: 1;
  color: #FFFFFF;
}

/* line 94, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: 0.3s ease;
}

/* line 102, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* line 109, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card {
  height: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  text-decoration: none;
  background-size: cover !important;
  background-position: center;
  padding: 25px;
  margin-bottom: 25px;
  color: #FFFFFF;
  position: relative;
  transition: .3s all ease;
  transform: rotateX(5deg) scale(0.7);
  perspective: 100px;
  box-shadow: 0px 5px 5px #555;
  animation: entry 1s linear 1;
}

/* line 131, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
a {
  color: #1A1A1A;
  background-color: transparent;
}

/* line 137, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
a:hover {
  color: #2181F7;
  text-decoration: none;
}

/* line 144, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

/* line 151, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

/* line 158, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-description {
  position: absolute;
  text-decoration: none;
  bottom: 10px;
  left: 10px;
}

/* line 164, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-description h2 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 300;
}

/* line 170, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-description p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;
  font-weight: lighter;
}

/* line 180, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.wide-col {
  padding: 0px !important;
}

/* line 185, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  color: #FFFFFF;
  background: black;
  text-decoration: none;
  opacity: 0;
}

/* line 197, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card-link:hover {
  opacity: 0.1;
  text-decoration: none;
}

/* line 202, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.card:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(0.85) translateY(1px);
  transition: .3s all ease;
  z-index: 400;
}

/* line 209, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.page {
  position: relative;
  margin-top: 25px;
  top: 155%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}

/* line 219, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.page p {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}

/* line 227, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.page p:nth-child(1) {
  right: 35%;
  animation: simple1 1s linear infinite;
}

/* line 232, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.page p:nth-child(2) {
  left: 35%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
/* line 269, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.wrapper {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 300px;
  color: #FFFFFF;
  height: 500px;
  perspective: 900px;
}

/* line 290, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
#c0 {
  z-index: 300;
  box-shadow: 0px 10px 50px #555;
}

/* line 300, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

/* line 309, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.footer-links {
  display: flex;
  align-items: center;
}

/* line 313, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

/* line 320, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.footer-links a:hover {
  opacity: 1;
}

/* line 323, /Users/lucasporter-bakker/code/lucasporterbakker/rails-mister-cocktail/app/assets/stylesheets/cocktails.scss */
.footer .fa-heart {
  color: #D23333;
}

/* Main navbar */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

